{% if site.live2d.enable %}
<script>
  try {
    $("<link>").attr({ href: "//live2d-cdn.fghrsh.net/assets/1.4.2/waifu.min.css", rel: "stylesheet", type: "text/css" }).appendTo('head');
    $('body').append('<div class="waifu"><div class="waifu-tips"></div><canvas id="live2d" class="live2d"></canvas><div class="waifu-tool"><span class="fui-home"></span> <span class="fui-chat"></span> <span class="fui-eye"></span> <span class="fui-user"></span> <span class="fui-photo"></span> <span class="fui-info-circle"></span> <span class="fui-cross"></span></div></div>');
    $.ajax({
      url: '//live2d-cdn.fghrsh.net/assets/1.4.2/waifu-tips.min.js', dataType: "script", cache: true, success: function () {
        $.ajax({
          url: '//live2d-cdn.fghrsh.net/assets/1.4.2/live2d.min.js', dataType: "script", cache: true, success: function () {
            {% for set in site.live2d.live2d_settings %}
            live2d_settings['{{set.key}}'] = {{ set.value }};
            {% endfor %}
            initModel('//live2d-cdn.fghrsh.net/assets/1.4.2/waifu-tips.json');
    }
        });
      }
    });
  } catch (err) { console.log('[Error] JQuery is not defined.') }
</script>
{% endif %}
