---
layout: page
---
{{ content }}
{% if site.index.show.recent.enable %}
<h2 id="{{ site.index.show.recent.title }}">
  {{ site.index.show.recent.title }}
</h2>
<ul>
  {% for post in site.posts limit:site.index.show.recent.limit %}
  <li>
    <a href="{{ post.url }}">{{ post.title }}</a>, {{ post.date | date_to_string }}
  </li>
  {% endfor %}
  {% if site.index.show.recent.archive.enable %}
  <li>
    <a href="{{ site.index.show.recent.archive.href }}">
      {{ site.posts.size }}
      {{ site.index.show.recent.archive.alert }}
    </a>
  </li>
  {% endif %}
</ul>
{% endif %}
