---
layout: page
---
{{ content }}
{% if site.index.show.recent.enable %}
<h2 id="{{ site.index.show.recent.title }}">
  {{ site.index.show.recent.title }}
</h2>
<ul>
  {% for post in site.posts limit:site.index.show.recent.limit %}
  <li>
    <a href="{{ post.url }}">{{ post.title }}</a>, {{ post.date | date_to_string }}
  </li>
  {% endfor %}
  {% if site.index.show.recent.archive.enable %}
  <li>
    <a href="{{ site.index.show.recent.archive.alert }}">
      {{ site.posts.size }}
      {{ site.index.show.recent.archive.alert }}
    </a>
  </li>
  {% endif %}
</ul>
{% endif %}
{% for tag in site.index.show.categories %}
<h2 id="{{ tag }}">
  <i class="fas fa-th"></i>
  {{ tag }}
</h2>
<ul>
  {% for post in site.categories[tag] %}
  <li>
    <a href="{{ post.url }}">
      {{ post.title }}
    </a>
  </li>
  {% endfor %}
</ul>
{% endfor %}
{% for tag in site.index.show.tags %}
<h2 id="{{ tag }}">
  <i class="fas fa-tag"></i>
  {{ tag }}
</h2>
<ul>
  {% for post in site.tags[tag] %}
  <li>
    <a href="{{ post.url }}">
      {{ post.title }}
    </a>
  </li>
  {% endfor %}
</ul>
{% endfor %}
{% for node in site.index.script %}
<script {% for var in node.var %} {{ var.key }}='{{ var.value }}' {% endfor %}>
</script>
{% endfor %}
