---
layout: comments
---
<small class="post-date">
  {% if site.post.date.enable %}
  {{ site.post.date.alert }}
  {{ page.date | date_to_string }}
  {% endif %}
  {% if site.post.wordcount.enable %}
  {{ site.post.wordcount.alert }}
  {{ page.content | strip_html | strip_newlines | remove: " " | size }}{{ site.post.wordcount.unit }}
  {% endif %}
  {% if site.post.readtime.enable %}
  {{ site.post.readtime.alert }}
  {{ page.content | strip_html | strip_newlines | remove: " " | size | divided_by: site.post.readtime.divided_by | plus: 1 }}{{ site.post.readtime.unit }}
  {% endif %}
  {% if site.post.visitor.enable %}
  <span id="{{ page.url }}" class="leancloud-visitors" data-flag-title="{{ page.title }}">
    {{ site.post.visitor.alert }}
    <span class="leancloud-visitors-count">
      <i class="fas fa-spinner fa-pulse"></i>
    </span>{{ site.post.visitor.unit }}
  </span>
  {% endif %}
  {% if site.post.categories.enable %}
  {% for node in page.categories %}
  {{ site.post.categories.alert }}
  {{ node }}
  {% endfor %}
  {% endif %}
  {% if site.post.tags.enable %}
  {% for node in page.tags %}
  {{ site.post.tags.alert }}
  {{ node }}
  {% endfor %}
  {% endif %}
  {{ site.post.copyright }}
  {% if page.background_music %}
  <div>
    {{ page.background_music }}
  </div>
  {% endif %}
</small>
{{ content }}
