---
layout: page
---
{{ content }}
{% for tag in site.tags %}
<h5>
  <i class="fas fa-tag"></i>
  <small>{{ tag[1].size }}</small>
  {{ tag[0] }}
</h5>
<ul>
  {% for post in tag[1] %}
  <li>
    <small>{{ post.date | date_to_string }}</small>
    <a href="{{ post.url }}">{{ post.title }}</a>
  </li>
  {% endfor %}
</ul>
{% endfor %}
{% for tag in site.categories %}
<h5>
  <i class="fas fa-th"></i>
  <small>{{ tag[1].size }}</small>
  {{ tag[0] }}
</h5>
<ul>
  {% for post in tag[1] %}
  <li>
    <small>{{ post.date | date_to_string }}</small>
    <a href="{{ post.url }}">{{ post.title }}</a>
  </li>
  {% endfor %}
</ul>
{% endfor %}
